In [2]:
import pandas as pd
import numpy as np

In [3]:
#Create a series
pd.Series(np.random.randn(5), index=["a","b","c","d","e"])

a    1.443515
b    1.120792
c   -0.298262
d   -0.331465
e   -0.699364
dtype: float64

In [4]:
a = pd.Series(np.random.randn(5))

In [5]:
print(a)

0   -0.282313
1   -0.071672
2   -0.605536
3    0.296255
4   -0.151157
dtype: float64

In [6]:
#Index
print(a[0])
print("\n")
print(a[:3])

-0.282313053902


0   -0.282313
1   -0.071672
2   -0.605536
dtype: float64

In [7]:
df = pd.DataFrame(a, columns = ["Column 1"])

In [8]:
df

   Column 1
0 -0.282313
1 -0.071672
2 -0.605536
3  0.296255
4 -0.151157

In [11]:
df["Column 1"]

0   -0.282313
1   -0.071672
2   -0.605536
3    0.296255
4   -0.151157
Name: Column 1, dtype: float64

In [13]:
df["Column 2"] = df["Column 1"]*4

In [14]:
df.sort_values(by = "Column 2")

   Column 1  Column 2
2 -0.605536 -2.422143
0 -0.282313 -1.129252
4 -0.151157 -0.604629
1 -0.071672 -0.286687
3  0.296255  1.185020

In [19]:
df[df["Column 2"] >= 1]

   Column 1  Column 2
3  0.296255   1.18502

In [20]:
df.apply(lambda x: min(x) + max(x))

Column 1   -0.309281
Column 2   -1.237123
dtype: float64

In [21]:
df.describe

<bound method NDFrame.describe of    Column 1  Column 2
0 -0.282313 -1.129252
1 -0.071672 -0.286687
2 -0.605536 -2.422143
3  0.296255  1.185020
4 -0.151157 -0.604629>

In [22]:
import matplotlib.pyplot as plt
% matplotlib inline
plt.style.use('ggplot')

In [41]:
df = pd.read_csv("GlobalTemperatures.csv")
df.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df = df.ix[:,:2]
df.head()

/Users/yujiro/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if __name__ == '__main__':

           dt  LandAverageTemperature
0  1750-01-01                   3.034
1  1750-02-01                   3.083
2  1750-03-01                   5.626
3  1750-04-01                   8.490
4  1750-05-01                  11.573

In [45]:
df.describe()

       LandAverageTemperature
count             3180.000000
mean                 8.374731
std                  4.381310
min                 -2.080000
25%                  4.312000
50%                  8.610500
75%                 12.548250
max                 19.021000